/* You should edit the content below to fit your website */

* {
	color: #4F3626;
	text-align: center;}
	
body {
	width: 960px;
	margin: 0 auto;
	background-color: #98BEA4
}
	
nav {
	background-color: #C0DDB4;
	padding: 4px;
	margin: 6px;
}

li {
	display: inline;
	padding: 8px;
	color: #0C3C2A;
}

section {
	overflow: auto;
	height: 100%
}

main {
	background-color: #C0DDB4;
	padding: 4px;
	margin: 6px;
}

article {
	background-color: #C0DDB4;
	padding: 14px;
	margin: 6px;
	width: 280px;
	float: left;
}

footer {
	background-color: #C0DDB4;
	padding: 4px;
	margin: 6px;
	font-family: Georgia, Garamond, serif;
}

.homeresize {
	height: 205px;
}

.hobbiesresize {
	width: 440px;
}

#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}

